@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes chatBubbles {
  0% {
    bottom: 3px;
  }

  50% {
    bottom: -3px;
  }

  100% {
    bottom: 3px;
  }
}

@keyframes menu {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

:root {
  --primary: #3FD1CB;
  --blue: #3498DB;
  --white: #EFEFEF;
  --yellow: #F1C40F;
  --green: #1EE494;
  --lightBlue: #3FD1CB;
  --darkBlue: #24344B;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.luis-wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .luis-chat {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: calc(50% + 540px - 260px);
    width: 260px;
    background: #FFF;
    height: 340px;
    transform: translateY(calc(100% - 30px));
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    transition: all 0.6s ease;

    &.open {
      transform: translateY(0);
    }

    & h2 {
      font-size: 16px;
      height: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #DDD;
      padding: 0 14px 0 10px;
      border-bottom: 1px solid rgba(0,0,0,.2);

      & .green-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--green);
        margin-right: 7px;
      }

      & .close {
        color: var(--primary);
        font-size: 22px;
        margin-left: auto;
        cursor: pointer;
        transition: all 0.6s ease;

        &.x {
          transform: rotate(-45deg);
        }
      }
    }

    & .chats {
      height: 286px;
      width: 100%;
      position: relative;
      box-sizing: border-box;
      padding: 10px 12px 30px;
      background: var(--white);
      overflow-Y: scroll;

      & .chat {
        float: left;
        clear: both;
        max-width: 60%;
        padding: 3px 10px;
        border-radius: 8px;
        background: #FFF;
        font-size: 15px;
        margin: 5px 0;

        &.pull-right {
          float: right;
          background: var(--green);
        }

        &.bubbles {
          
          & span {
            display: inline-block;
            position: relative;
            margin: 0 2px;
            height: 3px;
            width: 3px;
            border-radius: 50%;
            background: #444;
            animation: chatBubbles 1s ease-in-out infinite;
            bottom: 3px;

            &:nth-child(2) {
              animation-delay: .3s;
            }

            &:nth-child(3) {
              animation-delay: .5s;
            }
          }
        }
      }

      & .typing {
        position: fixed;
        bottom: 24px;
        left: 10px;
        font-size: 10px;
        opacity: 0.4;
      }
    }

    & form {
      display: flex;
      width: 100%;

      & input[type="text"] {
        width: 100%;
        height: 24px;
        outline: 0;
        padding: 0 5px;
        box-sizing: border-box;
        font-size: 14px;
      }
    }
  }
}

.header {
  height: 100vh;
  width: 100vw;
  position: relative;
  transition: all 2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  & .overlay {
    background: linear-gradient(to right, color(var(--lightBlue) a(0.6)), color(var(--primary) a(0.7)));
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 1s ease;

    &.open {
      background: linear-gradient(to right, color(#212121 a(0.9)), color(var(--primary) a(0.7)));
    }
  }

  & .profile {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .pic {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      box-shadow: 0 0 8px 0 rgba(255, 255, 255, .3);
    }

    & h2 {
      margin-top: 20px;
      font-size: 42px;
      color: var(--white);
    }

    & p.subtitle {
      margin: 10px 0;
      font-size: 22px;
      color: var(--white);
      font-weight: normal;

      & span {
        background: var(--green);
        padding: 1px 6px;
        border-radius: 3px;
      }
    }

    & .line {
      height: 1px;
      width: 150px;
      margin: 10px 0;
      background: linear-gradient(to right, color(var(--white) a(0.1)), var(--white), color(var(--white) a(0.1)));
    }

    & p {
      font-size: 16px;

      & span {
        color: var(--yellow);
        font-weight: bold;
        transition: all 0.6s ease;
        cursor: pointer;
        font-size: 20px;

        &:hover {
          font-size: 24px;
        }
      }
    }

    & .links {
      margin-top: 24px;

      & a {
        text-decoration: none;

        & i {
          color: var(--white);
          font-size: 24px;
          width: 46px;
          height: 46px;
          border: 1px solid color(var(--white) a(0.6));
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease;
          background: transparent;
          margin: 0 10px;

          &:hover {
            color: var(--green);
            background: var(--white);
          }
        }
      }
    }
  }
}

.toggle {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 40px;
  left: calc(50% - 540px);
  z-index: 1000;
  border: 1px solid color(var(--white) a(1));
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.6s ease;

  &:hover {
    background: var(--white);

    & span {
      background: var(--green);
    }
  }

  &.open {
    border-color: transparent;
    background: none;
     
     & span {
       background: var(--white);

       &:first-child, &:last-child {
         opacity: 0;
       }

       &:nth-child(2) {
         transform: rotate(45deg);
       }

       &:nth-child(3) {
         transform: rotate(-45deg);
       }
     }

     &:hover span {
       background: var(--green);
     }
  }

  & span {
    height: 2px;
    width: 26px;
    background: color(var(--white) a(1));
    position: absolute;
    top: 7px;
    transition: all 0.6s ease;
    opacity: 1;

    &:nth-child(2) {
      top: 14px;
    }

    &:nth-child(3) {
      top: 14px;
    }

    &:nth-child(4) {
      top: 21px;
      width: 18px;
    }
  }
}

.menu {
  position: absolute;
  z-index: 1000;
  padding: 0;
  left: calc(50% - 540px);
  top: 60px;

  & li {
    list-style: none;
    margin: 30px 0;
    font-size: 18px;
    letter-spacing: -0.3px;
    color: var(--white);
    opacity: 0;
    transition: all .6s ease;
    cursor: pointer;

    & span {
      font-size: 20px;
      color: var(--yellow);
    }

    &:hover {
      color: var(--green);
    }

    &.open {
      animation: menu .6s ease-in-out 1 forwards;
    }

    &:nth-child(2) {
      animation-delay: .2s;
    }

    &:nth-child(3) {
      animation-delay: .4s;
    }

    &:nth-child(4) {
      animation-delay: .6s;
    }

    &:nth-child(5) {
      animation-delay: .8s;
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: -340px;
  height: 100vh;
  width: 340px;
  background: var(--darkBlue);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;

  &.open {
    left: 0;
  }

  & .close {
    position: absolute;
    top: 20px;
    right: 15px;
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;

    &.x {
      transform: rotate(45deg);
    }
  }
  
  & .profile {
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .pic {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      box-shadow: 0 0 8px 0 rgba(255, 255, 255, .1);
    }

    & h3 {
      color: var(--primary);
      font-size: 18px;
      margin: 10px 0 14px;
    }

    & .links {

      & a {
        text-decoration: none;

        & i {
          color: var(--white);
          font-size: 14px;
          width: 24px;
          height: 24px;
          border: 1px solid color(var(--white) a(0.6));
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease;
          background: transparent;
          margin: 0 4px;

          &:hover {
            color: var(--green);
            background: var(--white);
          }
        }
      }
    }
  }

  & ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    & li {
      list-style: none;
      margin: 7px 0;
      font-size: 18px;
      transition: all 0.2s ease;
      cursor: pointer;
      color: var(--white);

      &:hover {
        color: color(var(--primary) a(0.7));
      }

      & > a {
        color: var(--yellow);
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          font-size: 26px;
        }
      }
    }
  }

  & .nav-footer {
    background: color(var(--primary) a(0.6));
    padding: 8px 0;

    & p {
      margin: 0;
      font-size: 14px;
      color: var(--black);
      opacity: 0.85;
      box-sizing: border-box;
      padding: 0 13px;

      & a {
        color: var(--yellow);
        text-decoration: none;
      }
    }
  }
}

.container {
  width: 1080px;
  display: flex;
  flex-direction: column;

  & h2.sec-title {
    border: 3px solid var(--green);
    font-size: 26px;
    padding: 8px 16px;
    color: color(var(--black) a(0.8));
  }

  & .row {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
    width: 100%;
  }

  &.reminder {
    height: 400px;
    align-items: center;
    justify-content: center;

    & h2 {
      margin-bottom: 24px;

      & span {
        color: var(--green);
        font-size: 28px;
      }
    }

    & p {
      font-size: 16px;
    }
  }

  &.me {
    align-items: center;

    & h3 {
      color: var(--darkBlue);
      margin: 40px 0 10px;
    }

    & .row {
      justify-content: space-between;
    }

    & .image {
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    & p {
      line-height: 1.6;
      font-size: 16px;
      margin-bottom: 24px;
      width: 800px;

      & a {
        text-decoration: none;
        color: var(--primary);
      }
    }
  }

  &.experiences {
    align-items: center;
    margin-top: 30px;

    & .timeline {
      width: 100%;
      height: 600px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 30px auto;
        width: 2px;
        height: 540px;
        background: var(--white);
      }
    }
  }
}