@keyframes chatBubbles {
  0% {
    bottom: 3px;
  }

  50% {
    bottom: -3px;
  }

  100% {
    bottom: 3px;
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes menu {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

:root {
  --primary: #3FD1CB;
  --blue: #3498DB;
  --white: #EFEFEF;
  --yellow: #F1C40F;
  --green: #1EE494;
  --lightBlue: #3FD1CB;
  --darkBlue: #24344B;
  --black: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.luis-wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .luis-chat {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: calc(50% + 540px - 260px);
    width: 260px;
    background: #FFF;
    height: 340px;
    transform: translateY(calc(100% - 30px));
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    transition: all 0.6s ease;

    &.open {
      transform: translateY(0);
    }

    & h2 {
      font-size: 16px;
      height: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #DDD;
      padding: 0 14px 0 10px;
      border-bottom: 1px solid rgba(0,0,0,.2);
      cursor: pointer;

      & .green-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--green);
        margin-right: 7px;
      }

      & .close {
        color: var(--primary);
        font-size: 22px;
        margin-left: auto;
        cursor: pointer;
        transition: all 0.6s ease;

        &.x {
          transform: rotate(-45deg);
        }
      }
    }

    & .chats {
      height: 286px;
      width: 100%;
      position: relative;
      box-sizing: border-box;
      padding: 10px 12px 30px;
      background: var(--white);
      overflow-Y: scroll;

      & .chat {
        float: left;
        clear: both;
        max-width: 60%;
        padding: 3px 10px;
        border-radius: 8px;
        background: #FFF;
        font-size: 15px;
        margin: 5px 0;

        &.pull-right {
          float: right;
          background: var(--green);
        }

        &.bubbles {
          
          & span {
            display: inline-block;
            position: relative;
            margin: 0 2px;
            height: 3px;
            width: 3px;
            border-radius: 50%;
            background: #444;
            animation: chatBubbles 1s ease-in-out infinite;
            bottom: 3px;

            &:nth-child(2) {
              animation-delay: .3s;
            }

            &:nth-child(3) {
              animation-delay: .5s;
            }
          }
        }
      }

      & .typing {
        position: fixed;
        bottom: 24px;
        left: 10px;
        font-size: 10px;
        opacity: 0.4;
      }
    }

    & form {
      display: flex;
      width: 100%;

      & input[type="text"] {
        width: 100%;
        height: 24px;
        outline: 0;
        padding: 0 5px;
        box-sizing: border-box;
        font-size: 14px;
      }
    }
  }
}

.header {
  height: 100vh;
  width: 100vw;
  position: relative;
  transition: all 2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  & .overlay {
    background: linear-gradient(to right, color(var(--lightBlue) a(0.6)), color(var(--primary) a(0.7)));
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all 1s ease;

    &.open {
      background: linear-gradient(to right, color(#212121 a(0.9)), color(var(--primary) a(0.7)));
    }
  }

  & .profile {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .pic {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      box-shadow: 0 0 8px 0 rgba(255, 255, 255, .3);
    }

    & h2 {
      margin-top: 20px;
      font-size: 42px;
      color: var(--white);
    }

    & p.subtitle {
      margin: 10px 0;
      font-size: 22px;
      color: var(--white);
      font-weight: normal;

      & span {
        background: var(--green);
        padding: 1px 6px;
        border-radius: 3px;
      }
    }

    & .line {
      height: 1px;
      width: 150px;
      margin: 10px 0;
      background: linear-gradient(to right, color(var(--white) a(0.1)), var(--white), color(var(--white) a(0.1)));
    }

    & p {
      font-size: 16px;

      & span {
        color: var(--yellow);
        font-weight: bold;
        transition: all 0.6s ease;
        cursor: pointer;
        font-size: 20px;

        &:hover {
          font-size: 24px;
        }
      }
    }

    & .links {
      margin-top: 24px;

      & a {
        text-decoration: none;

        & i {
          color: var(--white);
          font-size: 24px;
          width: 46px;
          height: 46px;
          border: 1px solid color(var(--white) a(0.6));
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease;
          background: transparent;
          margin: 0 10px;

          &:hover {
            color: var(--green);
            background: var(--white);
          }
        }
      }
    }
  }
}

.toggle {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 40px;
  left: calc(50% - 540px);
  z-index: 1000;
  border: 1px solid color(var(--white) a(1));
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.6s ease;

  &:hover {
    background: var(--white);

    & span {
      background: var(--green);
    }
  }

  &.open {
    border-color: transparent;
    background: none;
     
     & span {
       background: var(--white);

       &:first-child, &:last-child {
         opacity: 0;
       }

       &:nth-child(2) {
         transform: rotate(45deg);
       }

       &:nth-child(3) {
         transform: rotate(-45deg);
       }
     }

     &:hover span {
       background: var(--green);
     }
  }

  & span {
    height: 2px;
    width: 26px;
    background: color(var(--white) a(1));
    position: absolute;
    top: 7px;
    transition: all 0.6s ease;
    opacity: 1;

    &:nth-child(2) {
      top: 14px;
    }

    &:nth-child(3) {
      top: 14px;
    }

    &:nth-child(4) {
      top: 21px;
      width: 18px;
    }
  }
}

.menu {
  position: absolute;
  z-index: 1000;
  padding: 0;
  left: calc(50% - 540px);
  top: 60px;

  & li {
    list-style: none;
    margin: 30px 0;
    font-size: 18px;
    letter-spacing: -0.3px;
    color: var(--white);
    opacity: 0;
    transition: all .6s ease;
    cursor: pointer;

    & span {
      font-size: 20px;
      color: var(--yellow);
    }

    &:hover {
      color: var(--green);
    }

    &.open {
      animation: menu .6s ease-in-out 1 forwards;
    }

    &:nth-child(2) {
      animation-delay: .2s;
    }

    &:nth-child(3) {
      animation-delay: .4s;
    }

    &:nth-child(4) {
      animation-delay: .6s;
    }

    &:nth-child(5) {
      animation-delay: .8s;
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: -340px;
  height: 100vh;
  width: 340px;
  background: var(--darkBlue);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;

  &.open {
    left: 0;
  }

  & .close {
    position: absolute;
    top: 20px;
    right: 15px;
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;

    &.x {
      transform: rotate(45deg);
    }
  }
  
  & .profile {
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .pic {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      box-shadow: 0 0 8px 0 rgba(255, 255, 255, .1);
    }

    & h3 {
      color: var(--primary);
      font-size: 18px;
      margin: 10px 0 14px;
    }

    & .links {

      & a {
        text-decoration: none;

        & i {
          color: var(--white);
          font-size: 14px;
          width: 24px;
          height: 24px;
          border: 1px solid color(var(--white) a(0.6));
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease;
          background: transparent;
          margin: 0 4px;

          &:hover {
            color: var(--green);
            background: var(--white);
          }
        }
      }
    }
  }

  & ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    & li {
      list-style: none;
      margin: 7px 0;
      font-size: 18px;
      transition: all 0.2s ease;
      cursor: pointer;
      color: var(--white);

      &:hover {
        color: color(var(--primary) a(0.7));
      }

      & > a {
        color: var(--yellow);
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
          font-size: 26px;
        }
      }
    }
  }

  & .nav-footer {
    background: color(var(--primary) a(0.6));
    padding: 8px 0;

    & p {
      margin: 0;
      font-size: 14px;
      color: var(--black);
      opacity: 0.85;
      box-sizing: border-box;
      padding: 0 13px;

      & a {
        color: var(--yellow);
        text-decoration: none;
      }
    }
  }
}

.container {
  width: 1080px;
  display: flex;
  flex-direction: column;

  & h2.sec-title {
    border: 3px solid var(--green);
    font-size: 26px;
    padding: 8px 16px;
    color: color(var(--black) a(0.8));
  }

  & .row {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
    width: 100%;
  }

  &.reminder {
    height: 400px;
    align-items: center;
    justify-content: center;

    & h2 {
      margin-bottom: 24px;

      & span {
        color: var(--green);
        font-size: 28px;
      }
    }

    & p {
      font-size: 16px;
    }
  }

  &.me {
    align-items: center;

    & h3 {
      color: var(--darkBlue);
      margin: 40px 0 10px;
    }

    & .row {
      justify-content: space-between;
    }

    & .image {
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    & p {
      line-height: 1.6;
      font-size: 16px;
      margin-bottom: 24px;
      width: 800px;

      & a {
        text-decoration: none;
        color: var(--primary);
      }
    }
  }

  &.experiences {
    align-items: center;
    margin-top: 60px;

    & .timeline {
      margin: 30px 0;
      width: 100%;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 30px auto;
        width: 2px;
        height: 900px;
        background: var(--white);
      }

      & .exp {
        display: flex;
        margin: 30px 0;
        padding: 10px 0;
        flex-direction: row;
        align-items: center;
        float: left;
        clear: both;
        text-align: right;

        & .image {
          margin-left: auto;  
        }

        &:nth-child(2n) {
          float: right;
          clear: both;
          text-align: left;

          & .image {
            margin-left: 0;
            margin-right: auto;
          }
        }

        & > .bullet {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: var(--primary);
          z-index: 20;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;

          &:nth-child(2) {
            animation: grow 1.5s ease-in-out infinite;
          }
        }

        & .content {
          width: 540px;
          box-sizing: border-box;
          padding: 0 60px;

          & h3 {
            margin-top: 8px;
            color: var(--primary);
          }

          & .company {
            color: color(black a(0.6));
            margin: 3px 0 8px;

            & a {
              text-decoration: none;
              color: var(--primary);

              &:hover {
                opacity: 0.7;
              }
            }

            & span {
              font-size: 14px;
              opacity: 0.6;
            }
          }

          & .time {
            font-size: 14px;
            opacity: 0.3;
          }

          & .info {
            margin: 8px 0;
            opacity: 0.7;
            line-height: 1.4;
            font-size: 16px;
          }

          & ul {
            padding: 0;
            display: flex;
            flex-direction: row;
            margin: 0;
            float: right;
            clear: both;

            & li {
              list-style: none;
              padding: 3px 8px;
              border: 1px solid var(--primary);
              opacity: 0.6;
              margin: 0 4px;
              border-radius: 100px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  & .skill {
    display: flex;
    flex-direction: column;
    width: 100%;

    & p {
      color: var(--white);
      font-size: 16px;
    }

    & .bar {
      height: 20px;
      background: color(var(--green) a(0.8));
      margin: 10px 0 15px;
      border-top-right-radius: 10px;
    }
  }

  &.projects {
    align-items: center;
    margin-top: 40px;

    & h2.sec-title {
      margin-bottom: 40px;
    }

    & .row {
      margin: 20px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 800px;

      & .child {
        margin-top: 20px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .columns {
          display: flex;
          flex-direction: row;
          width: 100%;

          & .left {
            min-height: 200px;
            width: 50%;
          }

          & .right {
            min-height: 200px;
            width: 50%;
          }
        }

        & .binggc .right, & .pj .right, & .ecj .right, & .ut .right {
          display: flex;
          flex-direction: column;
          justify-content: center;

          & p {
            color: var(--white);
            font-size: 14px;
            line-height: 1.6;
            margin: 5px 0 10px;

            & a {
              color: var(--green);
              text-decoration: none;
              transition: all 0.3s ease;

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }

      &.focus {
        justify-content: space-around;

        & .block:not(:first-child) {
          width: 30%;
          height: 200px;

          & .info {

            & h3 {
              font-size: 16px;
            }

            & .title {
              font-size: 14px;
            }

            & .more {
              font-size: 12px;
              margin-top: 40px;
              padding: 3px 5px;
            }
          }
        }

        & .block:first-child {
          width: 800px;
          height: 380px;

          & .unset {
            display: block;
          }

          & .content .info {
            top: 0;
            opacity: 1;

            & .more {
              display: none;
            }
          }
        }
      }

      & .block {
        width: 380px;
        height: 290px;
        margin: 10px;
        background: var(--green);
        border-radius: 6px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all 0.6s ease;

        & .unset {
          position: absolute;
          top: 15px;
          right: 20px;
          font-size: 20px;
          transform: rotate(45deg);
          cursor: pointer;
          z-index: 100;
          color: var(--white);
          display: none;
        }

        &:first-child {
          background: linear-gradient(135deg, color(#fa001d a(0.4)), color(#D7AA88 a(0.7)));
        }

        &:nth-child(2) {
          background: linear-gradient(135deg, color(var(--green) a(0.8)), color(#ACC7F2 a(0.9)));
        }

        &:nth-child(3) {
          background: linear-gradient(135deg, color(var(--lightBlue) a(0.9)), color(#3498DB a(0.9)));
        }

        &:nth-child(4) {
          background: linear-gradient(135deg, color(#EDDC15 a(0.6)), color(var(--yellow) a(0.6)));
        }

        & .content {
          width: 75%;
          height: 75%;
          transition: all .6s ease;

          & .info {
            position: absolute;
            top: -100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.8);
            z-index: 10;
            transition: all .8s ease;
            opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
            box-sizing: border-box;

            & h3 {
              color: var(--green);
              font-size: 32px;
              letter-spacing: 0.3px;
            }

            & .title {
              color: var(--white);
            }

            & .more {
              position: absolute;
              color: black;
              font-size: 12px;
              margin-top: 60px;
              background: color(var(--white) a(0.7));
              padding: 7px 10px;
              border-radius: 100px;
              transition: all 0.3s ease;
              cursor: pointer;

              &:hover {
                font-size: 14px;
                color: var(--primary);
                background: color(var(--white) a(1));
              }
            }
          }

          &:hover {
            width: 90%;
            height: 90%;

            & .info {
              top: 0;
              opacity: 1;
            }
          }

          & img {
            width: 100%;
            height: 100%;
            top: 0;
            border-radius: 4px;
            box-shadow: 0 0 12px 0 rgba(0,0,0, .8);
          }
        }
      }
    }

    & .conversations {
      display: flex;
      flex-direction: column;
      align-items: center;

      & h3 {
        font-size: 20px;
        margin: 20px 0;

        & span {
          color: var(--green);
        }
      }

      & ul {
        padding: 0;

        & li {
          list-style: none;
          background: var(--green);
          margin: 20px 0 40px;
          padding: 15px 18px;
          width: 400px;
          border-radius: 8px;
          position: relative;
          transition: all 0.6s ease;
          cursor: pointer;

          &:hover {
            transform: scale(1.1);
            opacity: 0.8;
          }

          &::after {
            content: '';
            position: absolute;
            bottom: -30px;
            right: 30px;
            width: 0;
            height: 0;
            border-top: solid 15px var(--green);
            border-left: solid 15px #FFF;
            border-bottom: solid 15px #FFF;
            border-right: solid 15px #FFF;
          }
        }
      }
    }
  }

  &.blogs {
    align-items: center;
    margin-top: 20px;

    & h3.following {
      color: var(--darkBlue);
      margin: 40px 0 10px;
    }

    & .row {
      width: 800px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & .blog {
        height: 360px;
        width: 250px;
        background: var(--white);
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        overflow: hidden;
        text-decoration: none;
        transition: all 0.3 ease;
        color: inherit;
        position: relative;

        &:hover {
          opacity: 0.8;
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);

          & .pic-area .pic {
            transform: scale(1.1);
          }
        }

        & .pic-area {
          width: 100%;
          height: 200px;
          position: relative;
          overflow: hidden;
          
          & .pic {
            height: 100%;
            width: 100%;
            transition: all 0.6s ease;
          }
        }

        & .content {
          box-sizing: border-box;
          padding: 8px 12px;

          & h4 {
            margin: 10px 0;
            color: var(--primary);
          }

          & p.time {
            font-size: 14px;
            opacity: 0.4;
          }

          & p.feature {
            position: absolute;
            top: 185px;
            left: 20px;

            & img {
              height: 30px;
              border-radius: 50%;
            }

            &:hover .info {
              opacity: 1;
            }

            & .info {
              display: block;
              background: var(--green);
              color: var(--black);
              position: relative;
              right: 0px;
              top: -75px;
              padding: 3px 6px;
              font-size: 13px;
              opacity: 0;
              transition: all 0.3s ease;

              &::before {
                content: '';
                position: absolute;
                width: 0px;
                height: 0px;
                border-top: 8px solid var(--green);
                border-left: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 8px solid transparent;
                bottom: -16px;
                left: 9px;
                z-index: 1000;
              }
            }

            &:hover .info {
              display: block;
            }
          }
        }
      }
    }

    & .more {
      text-align: center;
      font-size: 18px;
      margin: 30px 0;
      border: 2px solid var(--white);
      color: black;
      padding: 10px 15px;
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0);
      color: var(--darkBlue);
      text-decoration: none;

      & > div {
        font-size: 14px;
        color: var(--green);
        transition: all 0.3s ease;
      }

      &:hover {
        background: var(--green);
        transform: scale(1.1);
        border: 2px solid transparent;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);

        & > div {
          color: var(--white);
        }
      }
    }
  }

  &.chatweb {
    margin-top: 50px;
    height: 360px;
    width: 100vw;
    background: linear-gradient(-45deg, #E73C7E, var(--green), var(--primary));
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
    box-sizing: border-box;
    padding: 40px 0;

    &.open {
      height: 700px;

      & > div.title {
        font-size: 24px;
        margin-bottom: -10px;

        & .highlight {
          font-size: 28px;
        }
      }

      & .content {
        display: flex;
        animation: appear 0.6s ease 1 forwards;
        animation-delay: 0.3s;
        flex-direction: column;
        align-items: center;

        & .sub {
          font-size: 14px;
          letter-spacing: 2px;
          color: color(var(--white) a(0.8));
        }

        & .paragraph {
          font-size: 16px;
          line-height: 1.6;
          width: 800px;
          margin-top: 16px;
          text-align: center;

          & > span {
            color: var(--blue);
          }
        }

        & ul {
          margin: 0;
          margin-top: 16px;
          padding: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          width: 800px;

          & li {
            list-style: none;
            font-size: 14px;
            border: 1px solid color(var(--white) a(0.7));
            margin: 15px 10px 0;
            padding: 5px 10px;
            border-radius: 100px;
            background: color(var(--white) a(0.4));
            color: var(--blue);
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              transform: scale(1.1);
              background: color(var(--white) a(0.8));
            }
          }
        }
      }
    }

    & .content {
      display: none;
      opacity: 0;
    }

    & .cursor {
      display: inline-block;
      animation: fade 1s ease-in-out infinite;
      margin-left: 3px;
      top: 2px;
      position: relative;
      background: var(--white);
      color: var(--white) !important;
    }

    &:hover {

      & > div.title {
        font-size: 24px;
        cursor: pointer;

        & .highlight {
          font-size: 28px;
        }

        & span.bar {
          &:first-child {
            width: 2px;
            height: 100%;
          }

          &:nth-child(2) {
            width: 100%;
            height: 2px;
          }

          &:nth-child(3) {
            width: 2px;
            height: 100%;
          }

          &:nth-child(4) {
            height: 2px;
            width: 100%;
          }
        }
      }
    }

    & > div {
      color: var(--white);
      font-size: 18px;
      position: relative;
      padding: 10px 15px;
      transition: all 0.6s ease;

      & span.bar {
        position: absolute;
        background: var(--yellow);
        transition: all 0.8s ease;

        &:first-child {
          top: 0;
          left: 0;
          width: 0;
          height: 0;  
        }

        &:nth-child(2) {
          top: 0;
          right: 0;
          width: 0;
          height: 0;
        }

        &:nth-child(3) {
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
        }

        &:nth-child(4) {
          height: 0;
          width: 0;
          left: 0;
          bottom: 0;
        }
      }

      & .highlight {
        font-weight: bold;
        font-size: 20px;
        color: var(--blue);
        transition: all 0.6s ease;
      }
    }
  }

  &.footer {
    height: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p.title {
      font-size: 13px;
      opacity: 0.6;;
    }

    & .links {
      margin-top: 8px;

      & a {
        text-decoration: none;
        cursor: pointer;

        & i {
          color: var(--green);
          font-size: 16px;
          width: 26px;
          height: 26px;
          border: 1px solid color(var(--white) a(1));
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease;
          background: transparent;
          margin: 0 3px;

          &:hover {
            color: var(--white);
            background: var(--green);
          }
        }
      }
    }
  }
}