@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oxygen');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  min-width: 100vw;
  min-height: 100vh;

  & .App {
    transition: all 0.6s ease;

    &.tilt {
      transform: translateX(340px);
    }
  }
}

h1, h2, h3, p {
  margin: 0;
}